$primary-color: (
    50 : #e0f7f6,
    100 : #b3eae8,
    200 : #80ddd8,
    300 : #4dcfc8,
    400 : #26c4bd,
    500 : #00bab1,
    600 : #00b3aa,
    700 : #00aba1,
    800 : #00a398,
    900 : #009488,
    A100 : #bffff9,
    A200 : #8cfff4,
    A400 : #59ffef,
    A700 : #40ffed,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$accent-color: (
    50 : #fce1ef,
    100 : #f7b3d6,
    200 : #f280bb,
    300 : #ec4da0,
    400 : #e8278b,
    500 : #e40177,
    600 : #e1016f,
    700 : #dd0164,
    800 : #d9015a,
    900 : #d10047,
    A100 : #fff9fb,
    A200 : #ffc6d5,
    A400 : #ff93b0,
    A700 : #ff7a9e,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$warn-color: (
  50 : #fae6e6,
  100 : #f2c1c1,
  200 : #e99797,
  300 : #e06d6d,
  400 : #da4e4e,
  500 : #d32f2f,
  600 : #ce2a2a,
  700 : #c82323,
  800 : #c21d1d,
  900 : #b71212,
  A100 : #ffe7e7,
  A200 : #ffb4b4,
  A400 : #ff8181,
  A700 : #ff6868,
  contrast: (
      50 : #000000,
      100 : #000000,
      200 : #000000,
      300 : #000000,
      400 : #ffffff,
      500 : #ffffff,
      600 : #ffffff,
      700 : #ffffff,
      800 : #ffffff,
      900 : #ffffff,
      A100 : #000000,
      A200 : #000000,
      A400 : #000000,
      A700 : #000000,
  )
);
